.labelname {
	font-size: 12px;
}

.error {
	color: red;
	font-size: 10px;
}

.drop-custom {
	width: 100%;
}

#form-group-custom {
	margin-bottom: 0.5em !important;
}

.alert-danger-custom {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	font-size: 12px;
}